.box{
	position: absolute;
	left: 10px;
	border: 1px solid lightskyblue ;
}
.u1{	
	display: block;
	width:100px;
	height: 20px;
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	border-bottom: 1px solid #FFFFFF;
}
.level_u1{
	display: none;
}
.level_u1 li{
	width: 100px;
	height: 30px;
	background-color: #dedede;
	color: #ffffff;
	border-bottom: 1px solid #FFFFFF;
	line-height: 30px;
	text-align: center;
	
}
.level_u1 li a{
	color: palevioletred;
	font-size: 15px;
}
